.main {  
    position: absolute;
    width: 430px;
    height: 960px;
    left: 0px;
    top: 0px;

    background: linear-gradient(179.37deg, #FFC0FC -4.4%, #E9F5C7 104.14%);
}

.subtext {
    position: absolute;
    width: 144px;
    height: 20px;
    left: 115px;
    top: 76px;

    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 100.8%;

    letter-spacing: -0.04em;

    color: #000000;
}

.headtext {
    position: absolute;
    width: 290px;
    height: 40px;
    left: 113px;
    top: 93px;

    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 100.8%;
    /* or 40px */

    letter-spacing: -0.04em;

    color: #591A3E;
}

.pfp {
    position: absolute;
    width: 87px;
    height: 87px;
    left: 15px;
    top: 80px;

    /* gray */

    background: #D7D7D9;
    border-radius: 999px;
}

.white-container {
    position: absolute;
    width: 402px;
    height: 226px;
    left: 13px;
    top: 175px;

    background: #FFFFFF;
    border-radius: 34px;
}

.total-savings {
    /*position: absolute; */
    position: absolute;


    padding-left: 20px;
    padding-top: 10px;

    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 100.8%;
    /* or 18px */

    letter-spacing: -0.04em;

    color: #591A3E;
}

.total-amount {

    position: absolute;
    padding-left: 20px;
    padding-top: 12px;


    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 100.8%;
    /* or 48px */

    letter-spacing: -0.04em;

    background: linear-gradient(0deg, #000000, #000000), linear-gradient(90.73deg, #FFC0FC -5.89%, #E9F5C7 87.42%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

button {
    background: none;

    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 100.8%;
    /* or 18px */
    border: none;
    text-align: center;
    letter-spacing: -0.04em;
    color: #591A3E;
    justify-content: center;
    position: relative;
    padding-top: 9px;
}

.button {
    position: absolute;
    width: 91px;
    height: 36px;
    left: 280px;
    top: 50px;

    background: #FFC0FC;
    border-radius: 10px;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: #4CAF50;
    color: white;
  }